@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  cursor: none;
}

/* Event.css */

.event-card {
  transition: transform 0.3s ease-in-out;
}

.tilt-animation {
  transform: rotate(-3deg); /* Initial tilt */
}

.tilt-animation:hover {
  transform: rotate(3deg); /* Tilt on hover */
}

/* Add this to your CSS file */

@keyframes tilt {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.tilt-animation {
  animation: tilt 3s infinite;
}
