.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: rgb(79, 71, 71);
  width: 30rem;
  height: 25rem;
  padding: 0 2rem 2rem 2rem;
  border-radius: 20px;
  box-shadow: 10px 19px 56px 19px rgba(11, 9, 9, 0.5) inset;
}

@media screen and (max-width: 768px) {
  .card {
    width: 20rem;
    height: 20rem;
  }
}

.card img {
  margin-top: -20%;
  width: 100%;
  border-radius: 20px;
}

.card h2 {
  margin: 0;
  margin-top: 1rem;
}

.card p {
  margin: 0;
  margin-top: 0.5rem;
  /* margin-bottom: 1.5rem; */
}
