/* Event.css */

.event-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .tilt-animation {
    transform: rotate(-3deg); /* Initial tilt */
  }
  
  .tilt-animation:hover {
    transform: rotate(3deg); /* Tilt on hover */
  }
  
  /* Add this to your CSS file */

@keyframes tilt {
    0% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }
  
  .tilt-animation {
    animation: tilt 3s infinite;
  }
  